@font-face {
    font-family: jay;
    src: url(./Rejouice-Headline.ttf);
}
@font-face {
    font-family: jt;
    src: url(./NBInternationalProBoo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(247, 104, 104); */
    position: relative;
}
#cursor{
    height: 7vw;
    width: 7vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
#cursor h5{
    font-size: 1.2vw;
    font-family: jt;
    font-weight: 500;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5vw;

}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
nav h3{
    font-size: 1.4vw;
    text-transform: capitalize;
    font-weight: 100;
    font-family: jt;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100;
    font-family: jt;
}
#page1-content h1{
    font-family: jay;
    font-size: 26vw;
    font-weight: 100;
    line-height: 27vw;
}
#page1-content h1 span{
    font-family: jay;
}
#page2{
   min-height: 100vh;
    width: 100%;
   position: relative;
   padding: 3vw;
}
#page3-top{
    text-align: center;
}
#page3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
    font-family: vt;
    text-transform: capitalize;
}
#page3-top h2{
    font-size: 4vw;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
#page3-top h4 span{
    font-size: 0.7vw;
    background-color: black;
    color: #fff;
    padding: 5px 8px;
    border-radius: 10px;
}
#page3-element{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vw;
   
}
#page3-element .box{
    height:100%;
    width: 33%;
    background-color: blue;
    position: relative;
    cursor: pointer;
}
#page3-element .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page3-element .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:absolute;
    transition: all ease 1s;
}
#page3-element .box:hover img{
    opacity: 0;
}
#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4 video{
    height: 100%;
}
#page4 svg{
    position: absolute;
    height: 60%;
}
#page5{
    height: 100vh;
    width: 100%;
    padding: 4vw 0;
}
#page5 h1{
    font-family: jay;
    font-size: 10vw;
    font-weight: 100;
    border-bottom: 1px solid black;
    width: 96%;
    margin-left: 2%;
}
#swiper{
    height: 60vh;
    width: 100%;
    position: relative;
}
.swiper {
    width: 130%;
    height: 100%;
  }

  .swiper-slide {
    /* width: 400px; */
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .swiper-slide img {
    display: block;
    width: 20%;
    object-fit: cover;
  }